
<!DOCTYPE html >
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% trans %}GNUKhata v4.0{% endtrans %}</title>
  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/font-awesome.min.css')}}">

  <style>
  .content{ margin-top:4%
  }
  .shadow {
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #ticker {
    display: none;
  }
  .gknav{
  	background-color: rgb(26,34,41);
  }
  .gknav .navbar-brand {
      color: white;
  }
  .gknav .navbar-nav > li > a {
      color: white;
  }
  .gknav .navbar-nav > li > a:hover, .gknav .navbar-nav > li > a:focus {
      background-color: black;
  		color: white;
  		border-radius: 2px;
  }
  ul.dropdown-menu > li > a:hover, ul.dropdown-menu > li > a:focus{
  background-color: #bfbfbf;
  border-style: solid;
  border-color: #2a1278;
  border-width: 2px;
  border-radius: 2px;
  }
  .gknav .navbar-nav > .open > a,
  .gknav .navbar-nav > .open > a:hover,
  .gknav .navbar-nav > .open > a:focus {
      background-color: #bfbfbf;
  		color: black;
  		border-radius: 2px;
  }
  .gknav .navbar-nav > .active > a,
  .gknav .navbar-nav > .active > a:hover,
  .gknav .navbar-nav > .active > a:focus {
      color: black;
      background-color: #bfbfbf;
  		border-radius: 2px;
  }
  .gknav .navbar-nav > li > a:hover,
  .gknav .navbar-nav > li > a:focus {
      color: #black;
  }
  .panel{
  	border-color: rgb(87,93,99);
  }
  .panel-heading, .panel-title {
  	background-color: rgb(87,93,99);
  	color: white;
  }
  .thead {
  	background-color: #a3a3a3;
  }
  .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1rem;
  background-color: #bfbfbf;
  text-align: center;
  }
  .icon-bar {
    color: white;
    border-color: black;
    background-color: white;
  }
  @media (max-width: 767px) {
  	.footer {
  	  position: relative;
  	}
    .collapsing, .in {background-color: rgb(26,34,41); color: white;}
  	.collapsing ul li a, .in ul li a {color: white;}
  	.collapsing ul li a:hover, .in ul li a:hover {background-color: #bfbfbf; color: black;}
    #selectorg{
      background-color: white;
      color: black;
    }
    #createorg{
      background-color: white;
      color: black;
    }
  }
  .modal-header {
  	 background-color: rgb(87,93,99);
  	 color: white;
  	 border-top-left-radius: 4px;
  	 border-top-right-radius: 4px;
  }
  .vertical-alignment-helper {
  	display:table;
  	height: 100%;
  	width: 100%;
  	pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
  }
  .vertical-align-center {
  	/* To center vertically */
  	display: table-cell;
  	vertical-align: middle;
  	pointer-events:none;
  }
  .modal-content {
  	/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  	width:inherit;
  	height:inherit;
  	/* To center horizontally */
  	margin: 0 auto;
  	pointer-events: all;
  }
  .icon-bar {
    color: white;
    border-color: black;
    background-color: white;
  }
  .close {
      color: white;
      opacity: 0.8;
  }
  .close:hover {
      color: white;
      opacity: 2;
  }
  
  .bgcolor{
  	 background-color:#1b2631;
  }
  </style>



</head>
<body style="background:url({{request.static_url('gkwebapp:static/images/old_mathematics.png')}})">
<nav class="navbar gknav navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gknavcollapse" aria-expanded="false">
        <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=""><img src="{{request.static_url('gkwebapp:static/images/icon.svg')}}" alt="GNUKhata Icon" style="width:42px;height:42px;margin-top: -11px" /></a>
      <a class="navbar-brand">{% trans %}GNUKhata <em>v4.0</em>{% endtrans %}</a>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="gknavcollapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a data-toggle="tab" id="selectnav" href="#selectorg"> <span class="sr-only">{% trans %}Select Existing Organisation{% endtrans %}</span>{% trans %}Select <u>E</u>xisting Organisation{% endtrans %}</a></li>
        <li><a data-toggle="tab" id="createnav" href="#createorg">{% trans %}C<u>r</u>eate Organisation{% endtrans %}</a></li>
 
        <li class="dropdown">
          <a href="" id="lang" class="dropdown-toggle mastermenu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}<u>L</u>anguage{% endtrans %} </a>
          <ul class="dropdown-menu">
            <li><a  class="langmenu" id="mar" href="/locale?language=en">{% trans %}English{% endtrans %}</a></li>
            <li><a  class="langmenu" id="mar" href="/locale?language=mr">{% trans %}मराठी{% endtrans %}</a></li>
            <li><a  class="langmenu" id="mar" href="/locale?language=ml">{% trans %}മലയാളം{% endtrans %}</a></li>
          </ul>
        </li>
        
        <li><a class="fa fa-question-circle pull-right" style="font-size:16px;color:white;"data-toggle="modal" id="csh" data-target="#Mcsh"></a></li>
        
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  
</nav>
  <br />
  <div id="Mcsh" tabindex="-1" class="modal fade" role="dialog">
  <div class="modal-dialog bgcolor">
    <div class="modal-content ">
    <div class="modal-header">
      {% trans %}<strong>Help!</strong>{% endtrans %}
   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> </div>
      <div class="modal-body" style="text-align: justify; text-justify: inter-word;">
       
       <p>   <font color=" #566573"> {%trans%}

This screen provides you 3 options create organization, select organizations and choose language. <br>
If you are running GNUKhata for the first time then the section for creating organization will be active.</br>
You can choose language at any time.  Right now GNUKhata has English (default), Marathi and Malayalam.
In create organization you can enter the organization name, choose it's type (Profit Making or Not for Profit ) and then select the case in which the data is stored and displayed.
Then you enter the financial year start and end for the organization.  If you need inventory support then check the checkbox for inventory using space bar or click it using mouse.
Note that you can use enter key to move to the next field and up arrow for previous field.
Tab and Shift tab are also available by default for navigation.</br>
Next screen will ask you for creating an admin user.
If you choose select organization then the dropdown gives a list of organizations.
choose one and press enter.
Now choose financial year and press enter.
Login screen will appear after you choose details.{% endtrans %} </font>

        </p>
      </div>
      
    </div>
  </div>
</div>
  <div class="container-fluid" id="ticker">
    <ul class="shadow" style="list-style-type: none; margin-top: 30px; margin-bottom: -30px; padding: 0; overflow: hidden; background-color: rgb(248,248,248); height: 20px; border-radius: 5px;">
      <li style="float: left;"><a data-toggle="tab" style="margin-left: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="orgdata" href=""></a></li>
      <li style="float: right;"><a style="margin-right: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="yeardata" href=""></a></li>
    </ul>
      </div>
      
      

  <div class="container-fluid" style="margin-top:50px;">
<div class="row">
  <div class="col-sm-6" >
    <div class="alert alert-danger" aria-live="rude" role="alert" id="duplicate-org-alert" hidden>
      {% trans %}Duplicate Organisation!{% endtrans %}
    </div>
    <div class="panel-heading">
      <div class="panel-title">
        {% trans %}Welcome To GNUKhata{% endtrans %}<br /> <h4>{% trans %}A Free and Open Source Accounting Software{% endtrans %}</h4>
      </div>

    </div>
    <div style="padding-top:20px; background-color: #f9f9f9;" class="panel-body" >
      <p style="margin-top: 5px;">{% trans %}It is Lightweight.{% endtrans %}</p>
      <p> {% trans %}It can scale upto a cloud based deployment or down to a standalone installation.{% endtrans %}</p>
      <p> {% trans %}It is fast and robust.{% endtrans %}</p>
      <p> {% trans %}It is based on double entry system of accounting.{% endtrans %}</p>
    </div>
    <div class="panel-footer" style="background-color: rgb(87,93,99); color: white;">
      <p>{% trans %}GNUKhata is developed by{% endtrans %} <b>{% trans %}Digital Freedom Foundation(DFF){% endtrans %}</b> {% trans %}and is currently funded by{% endtrans %} <b>{% trans %}International Centre for Free and Open Source Software(ICFOSS).{% endtrans %}</b></p>
    </div>
</div>

<div class="tab-content col-sm-6">

  <div id="selectorg" class="tab-pane fade in active">

  </div>
  <div id="createorg" class="tab-pane fade">

  </div>
</div>
</div>
<div class="row">
  <div class="footer" style="background-color: rgb(87,93,99); color: white; margin-top: -10px; border-radius: 4px;">
    <p style="text-align: center; font-size: 0.9em;">{% trans %}Copyright © Digital Freedom Foundation 2013,2014,2015,2016{% endtrans %}.{% trans %}This software is licensed under GNU AGPLv3.{% endtrans %}. {% trans %}Visit{% endtrans %} <a href="http://gnukhata.in" style="color: white;"><strong>{% trans %}gnukhata.in{% endtrans %}</strong></a> {% trans %}for more information.{% endtrans %}</p>
  </div>
</div>
</div>
  <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
  <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/index.js')}}"></script>


</body>
</html>
