<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {{projectname}} {% trans %}Statement{% endtrans %}</title>

  <style type="text/css">
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #latable td {
    font-size: 75%;
    padding: 4 !important;
    margin: 4 !important;
  }

  #latable th {
    font-size: 85%;
  }

  .card-view .title {
      font-weight: bold;
      display: inline-block;
      min-width: 30%;
      text-align: left !important;
  }

  #latable tbody {
      display:block;
      height: calc(100vh - 17em);
      overflow-y:scroll;
  }
  #latable thead,#latable tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  #latable thead {
      width: calc( 100% - 0.65em );
  }

  .calign{
    text-align:center;
  }
  .lalign{
    text-align:left;
  }
  .dtwrap{
    width :5%
     }
 .smwrap{
  width:3%
 }

 .lngwrap{
  width:16%
 }
 .mdwrap{
  width:8%
 }

  </style>
</head>
<body>
  <span style="margin:auto; display:table; font-size:120%;"><strong>{% trans %}List of Godowns{% endtrans %}</strong></span>
  <button class="btn btn-sm btn-danger pull-right" type="button" style="margin-right: 15px;" id="laclearfields">{% trans %}Clear Search{% endtrans %}<span class="glyphicon glyphicon-remove" style="margin-left: 5px;"></span></button>
  <table id="latable" class="table shadow table-bordered" data-toggle="table" data-show-toggle="true"  data-search-align="left" data-buttons-align="left" data-search="true" >
    <thead class="bg-primary">
      <tr>
        <th class="smwrap lalign" >
          {% trans %}Sr.No.{% endtrans %}
        </th>
        <th class="mdwrap lalign">
          {% trans %}Godown Name{% endtrans %}
        </th>
        <th class="lngwrap lalign">
          {% trans %}Address{% endtrans %}
        </th>
        <th class="dtwrap lalign">
          {% trans %}Contact Name{% endtrans %}
        </th>
        <th class="dtwrap lalign" >
          {% trans %}Designation{% endtrans %}
        </th>
        <th class="dtwrap lalign">
          {% trans %}Contact Number{% endtrans %}
        </th>
        <th class="smwrap lalign">
          {% trans %}Status{% endtrans %}
        </th>
      </tr>
    </thead>
    <tbody>

      {% for record in gkresult %}
      <tr	value="{{record["godownid"]}}">
        <td class="smwrap lalign" >
          {{record["srno"]}}
        </td>
        <td class="mdwrap lalign">
          {{record["godownname"]}}
        </td>
        <td class="lngwrap lalign" >
          {{record["godownaddress"]}}, {{record["godownstate"]}}
        </td>
        <td class="dtwrap lalign" >
          {{record["godowncontactname"]}}
        </td>
        <td class="dtwrap lalign" >
          {{record["godowndesignation"]}}
        </td>
        <td class="dtwrap lalign" >
          {{record["godowncontact"]}}
        </td>
        {% if record["godownstatus"] == "Active" %}
        <td class="smwrap lalign text-success">
          {{record["godownstatus"]}}
        </td>
        {% else %}
        <td class="smwrap lalign text-danger">
          {{record["godownstatus"]}}
        </td>
        {% endif %}
      </tr>
      {% endfor %}

    </tbody>
  </table>
  <span style="margin:auto; display:table;">
    <nbsp><nbsp>
    <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x">{% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="t">{% trans %}View Prin<u>t</u>able Version{% endtrans %}</button>
  </span>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/listofgodowns.js')}}"></script>
</body>
</html>
