<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Unbilled Deliveries Report{% endtrans %}</title>
<style type="text/css">

td {
	font-size: 65%;
	color: black;
}

th {
	font-size: 70%;
}

@page {
  size : 21cm 29.7cm;
  margin : 10mm 10mm 20mm 10mm
}
thead{
  display: table-header-group;
}
tfoot{
  display: table-footer-group;
}

</style>
</head>
<body>
	{% if inout == "9" %}
		{% if del_unbilled_type == "All" %}
	<span class="printorgdetails hidden-print" style="margin:auto; display:table;"><strong>{% trans %}Inward Deliveries - Invoices Not Received{% endtrans %}</strong> {% trans %}as on date{% endtrans %} <strong>{{new_inputdate}}</strong>{% trans %}| All Godowns | All Types{% endtrans %}</span>
		{% else %}
	<span class="printorgdetails hidden-print" style="margin:auto; display:table;"><strong>{% trans %}Inward Deliveries - Invoices Not Received{% endtrans %}</strong> {% trans %}as on date{% endtrans %} <strong>{{new_inputdate}}</strong>{% trans %}| All Godowns | Delivery Type: {% endtrans %} <strong>{{del_unbilled_type}}</strong></span>
		{% endif %}
	{% elif inout == "15" %}
		{% if del_unbilled_type == "All" %}
	<span class="printorgdetails hidden-print" style="margin:auto; display:table;"><strong>{% trans %}Outward Deliveries - Invoices Not Prepared{% endtrans %}</strong> {% trans %}as on date{% endtrans %} <strong>{{new_inputdate}}</strong>{% trans %}| All Godowns | All Types{% endtrans %}</span>
		{% else %}
	<span class="printorgdetails hidden-print" style="margin:auto; display:table;"><strong>{% trans %}Outward Deliveries - Invoices Not Prepared{% endtrans %}</strong> {% trans %}as on date{% endtrans %} <strong>{{new_inputdate}}</strong>{% trans %}| All Godowns | Delivery Type: {% endtrans %} <strong>{{del_unbilled_type}}</strong></span>
		{% endif %}
	{% endif %}
	<div class="table-responsive printorgdetails">
		<table class="table table-condensed  table-bordered table-striped shadow">
			<thead class="bg-primary">
        <tr class="visible-print">
					{% if inout == "9" %}
          <th colspan="5" style="text-align:center; font-size:80%;">
						{% if del_unbilled_type == "All" %}
            {% trans %}Inward Deliveries - Invoices Not Received as on date{% endtrans %} {{new_inputdate}}{% trans %}| All Godowns | All Types{% endtrans %}
						{% else %}
						{% trans %}Inward Deliveries - Invoices Not Received as on date{% endtrans %} {{new_inputdate}}{% trans %}| All Godowns | Delivery Type: {% endtrans %} <strong>{{del_unbilled_type}}</strong>
						{% endif %}
					</th>
					{% elif inout == "15" %}
					<th colspan="5" style="text-align:center; font-size:80%;">
						{% if del_unbilled_type == "All" %}
            {% trans %}Outward Deliveries - Invoices Not Prepared as on date{% endtrans %} {{new_inputdate}}{% trans %}| All Godowns | All Types{% endtrans %}
						{% else %}
						{% trans %}Outward Deliveries - Invoices Not Prepared as on date{% endtrans %} {{new_inputdate}}{% trans %}| All Godowns | Delivery Type: {% endtrans %} <strong>{{del_unbilled_type}}</strong>
						{% endif %}
          </th>
					{% endif %}
        </tr>
				<tr>
					<th class="col-xs-1">{% trans %}Sr. No.{% endtrans %}</th>
					<th class="col-xs-3">{% trans %}Delchal No.{% endtrans %}</th>
					<th class="col-xs-2">{% trans %}Delchal Date{% endtrans %}</th>
					{% if inout == "9" %}
					<th class="col-xs-2">{% trans %}Supplier Name{% endtrans %}</th>
					{% elif inout == "15" %}
					<th class="col-xs-2">{% trans %}Customer Name{% endtrans %}</th>
					{% endif %}
					<th class="col-xs-2">{% trans %}Godown Name{% endtrans %}</th>
					{% if del_unbilled_type == "All" %}
					<th class="col-xs-2">{% trans %}Delivery Type{% endtrans %}</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for record in gkresult %}
				<tr	value="{{record['dcid']}}">
					<td class="col-xs-1">
						{{record['srno']}}
					</td>
					<td class="col-xs-3">
            {{record['dcno']}}
					</td>
					<td class="col-xs-2">
						{{record["dcdate"]}}
					</td>
					<td class="col-xs-2">
						{{record["custname"]}}
					</td>
					<td class="col-xs-2">
						{{record["goname"]}}
					</td>
					{% if del_unbilled_type == "All" %}
					<td class="col-xs-2">
						{{record["dcflag"]}}
					</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<span style="margin:auto; display:table;">
		<button type="button" class="btn btn-sm btn-danger hidden-print" id="tbback" accesskey="b">{% trans %}<u>B</u>ack{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-info hidden-print" id="unbill_del_print" accesskey="t">{% trans %}Prin<u>t</u>{% endtrans %}</button>
	</span>
	<input type="hidden" id="inputdate" value="{{inputdate}}">
	<input type="hidden" id="inout" value="{{inout}}">
	<input type="hidden" id="del_unbilled_type" value="{{del_unbilled_type}}">
<script type="text/javascript">
  $(document).ready(function() {

		//oninvoice = 0;

		$("#msspinmodal").modal("hide");

    $("title").html("GNUKhata")
    $("#unbill_del_print").click(function(event) {
      window.print();
    });
    $("#tbback").click(function(event) {
      /*var date = $("#ledtodate").val().split("-");
 		 var newtodate = date[2]+"-"+date[1]+"-"+date[0];
		 */
		 $.ajax(
       {
         type: "POST",
         url: "/show_del_unbilled_report",
         global: false,
         async: false,
         data: {"inputdate": $("#inputdate").val(), "inout":$("#inout").val(), "del_unbilled_type": $("#del_unbilled_type").val()},
         datatype: "text/html",
         beforeSend: function(xhr)
         {
           xhr.setRequestHeader('gktoken',sessionStorage.gktoken );
         }
       })
       .done(function(resp) {
         $("#info").html(resp);
         //alert("Show_Delivery_Report_Success");
       })
       .fail(function() {
         console.log("error");
       })
       .always(function() {
         console.log("complete");
       });
    });
  });
</script>
</body>
</html>
