<body>
  <div class="panel shadow">
    <div class="panel-body">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
  			<div class="form-group">
            <label for="salesorder_orderno">{% trans %}Order No{% endtrans %} :</label>
            <input class="form-control input-sm" id="salesorder_orderno"  value="{{gkresult["orderno"]}}">
  			</div>
      </div>

  <div class="col-md-2">
         <div class="form-group">
              <label for="salesorder_date">{% trans %}Order Date{% endtrans %} :</label>

                <div class="form-group">
                  <input type="text" class="form-control input-sm sodate" value="{{gkresult["orderdate"]}}" id="salesorder_date">
                </div>


          </div>
        </div>


  <div class="col-md-2">
    <div class="form-group">
         <label for="issuername">{% trans %}Issuer Name{% endtrans %} :</label>
          <input class="form-control input-sm" id="salesorder_issuername" accesskey="" placeholder="{{gkresult["issuername"]}}" disabled></input>
    </div>
  </div>

  <div class="col-md-2">
      <div class="form-group">
        <label for="designation">{% trans %}Designation{% endtrans %} :</label>
        <input style="border-radius: 4px" id="designation" type="text" class="form-control" name="desg" value="{{gkresult["designation"]}}" disabled></input>
      </div>
    </div>


  <div class="col-md-2">
  		<div class="form-group">
  			 <label for="payterms">{% trans %}Mode of Payment{% endtrans %} :</label>
  			<input style="border-radius: 4px" id="payterms" type="text" class="form-control" name="modeofpayment" value="{{gkresult["payterms"]}}" disabled=></input>
  		</div>
    </div>

  <div class="col-md-2">
  		<div class="form-group">
  		<label for="modeoftransport">{% trans %}Mode of Transport{% endtrans %} :</label>
  		<input style="border-radius: 4px" id="modeoftransport" type="text" class="form-control" name="modeoftransport" value="{{gkresult["modeoftransport"]}}" disabled></input>
  		</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
    		<div class="form-group">
    			<label for="creditperiod">{% trans %}Credit Period{% endtrans %} :</label>
    			<input style="border-radius: 4px" id="creditperiod" type="text" class="form-control" name="creditperiod" value="{{gkresult["creditperiod"]}}" disabled></input>
    		</div>
      </div>

<div class="col-md-2">
					<label for="salesorder_customer">
						{% trans %}Customer{% endtrans %} :
					</label>
					<select class="form-control input-sm" id="salesorder_customer" accesskey="" disabled>
							<option value="{{customer['csid']}}">{{customer["custname"]}}</option>
					</select>
</div>
<div class="col-md-2">
          <div class="form-group">
            <label for="salesorder_customeraddr">
              {% trans %}Customer Address{% endtrans %} :
            </label>
            <input class="form-control input-sm" id="salesorder_customeraddr" value="{{customer["custaddr"]}}" accesskey="" disabled>
          </div>
</div>
          <div class="col-md-2">
          <div class="form-group">
            <label for="salesorder_customertin">
              {% trans %}Customer TIN{% endtrans %} :
            </label>
            <input class="form-control input-sm" id="salesorder_suppliertin" value="{{customer["custtan"]}}" accesskey="" disabled>
          </div>
</div>


        <div class="col-md-2 salesorder_state" >
          <div class="form-group">
            <label for="salesorder_state">{% trans %}VAT Applicable to{% endtrans %} :</label>
            <select class="form-control input-sm tax_state product_new_state"  disabled>
              <option value="{{gkresult["taxstate"]}}">{{gkresult["taxstate"]}}</option>
            </select>
          </div>

        </div>
        <div class="col-md-2">
          <label for="po_to_godown">{% trans %}From Godown:{% endtrans %}</label>
          <select class="form-control input-sm togodown" id="po_togodown" accesskey="" disabled>
            {%if togodown == ""%}
            <option value="">None</option>
            {%else%}
            <option value="">{{togodown["goname"]}} ({{togodown["goaddr"]}})</option>
            {%endif%}


          </select>
          </div>
</div>

  <div class="row" >
    <table id="salesorder_product_table" class="shadow table table-condensed table-bordered fixed-table fixed-tablesales">
      <thead class="bg-primary">
        <tr>
          <th class="col-md-3 text-center">{% trans %}Product{% endtrans %}</th>
          <th class="col-md-2 text-center">{% trans %}Quantity{% endtrans %}</th>
          <th class="col-md-2 text-center">{% trans %}Number of Packages{% endtrans %}</th>
          <th class="col-md-2 text-center">{% trans %}Price Per Unit{% endtrans %}</th>
          <th class="col-md-2 text-center">{% trans %}Tax Rate{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for key in schedule %}
        <tr>
          <td class="col-md-3">
            <select class="form-control input-sm product_name">
              <option value="{{key}}">{{schedule[key]['productname']}}</option>

          </select>
          </td>
          <td class="col-md-2">
            <div class="input-group">
              <input type="text" class="form-control input-sm text-right salesorder_product_quantity "  value="{{schedule[key]["quantity"]}}"  aria-describedby="unitaddon" disabled>
              <span class="input-group-addon input-sm" id="unitaddon"></span>
            </div>
          </td>
          <td class="col-md-2">
              <input type="text" class="form-control input-sm text-right salesorder_product_packages "  value="{{schedule[key]["packages"]}}" disabled>
          </td>

          <td class="col-md-2">
            <input type="text" class=" form-control input-sm text-right numtype salesorder_product_per_price" value="{{schedule[key]["rateperunit"]}}" disabled>
          </td>

          <td class="col-md-2">
            <input type="text" class="form-control input-sm text-right numtype salesorder_product_tax_rate"   value="{{schedule[key]["taxrate"]}}" disabled>
          </td>

        </tr>
        {% endfor %}
      </tbody>

    </table>

  </div>
</div>

</div>
</div>


<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewsalesorder.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewsalesorderdetails.js')}}"></script>
</body>
